.oculto {
    display: none;
}

.visible {
    display: block;
}

#faltaProducto {
    justify-content: center;
    margin-top: 2em;
}

/* contenedor para sector de barra busqueda*/

.contenedor-buscador-producto {
    background-color: aliceblue;
    height: 30vh;
}


