.oculto {
    display: none !important;
}

.visible {
    display: block !important;
}

#faltaProducto {
    justify-content: center;
    margin-top: 2em;
}

/* contenedor para sector de barra busqueda*/

.contenedor-buscador-producto {
    background-color: aliceblue;
    height: 30vh;
}

/* color violeta*/
.main-color {
    background-color: #6610f2 !important;
}

.round-border {
    border-radius: 1.078em !important;
}

.overflow-scroll{
    overflow-x: scroll;
}